In [1]:
import pandas as pd
a=pd.read_csv('/content/bank.csv')
print(a)

       age          job  marital  education default  balance housing loan  \
0       59       admin.  married  secondary      no     2343     yes   no
1       56       admin.  married  secondary      no       45      no   no
2       41   technician  married  secondary      no     1270     yes   no
3       55     services  married  secondary      no     2476     yes   no
4       54       admin.  married   tertiary      no      184      no   no
...    ...          ...      ...        ...     ...      ...     ...  ...
11157   33  blue-collar   single    primary      no        1     yes   no
11158   39     services  married  secondary      no      733      no   no
11159   32   technician   single  secondary      no       29      no   no
11160   43   technician  married  secondary      no        0      no  yes
11161   34   technician  married  secondary      no        0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0       unknown    5   may      1042         1     -1         0  unknown
1       unknown    5   may      1467         1     -1         0  unknown
2       unknown    5   may      1389         1     -1         0  unknown
3       unknown    5   may       579         1     -1         0  unknown
4       unknown    5   may       673         2     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
11157  cellular   20   apr       257         1     -1         0  unknown
11158   unknown   16   jun        83         4     -1         0  unknown
11159  cellular   19   aug       156         2     -1         0  unknown
11160  cellular    8   may         9         2    172         5  failure
11161  cellular    9   jul       628         1     -1         0  unknown

      deposit
0         yes
1         yes
2         yes
3         yes
4         yes
...       ...
11157      no
11158      no
11159      no
11160      no
11161      no

[11162 rows x 17 columns]

In [2]:
y=a['balance']
print(y)
X=a.drop("balance",axis=1)
print(X)

0        2343
1          45
2        1270
3        2476
4         184
         ...
11157       1
11158     733
11159      29
11160       0
11161       0
Name: balance, Length: 11162, dtype: int64
       age          job  marital  education default housing loan   contact  \
0       59       admin.  married  secondary      no     yes   no   unknown
1       56       admin.  married  secondary      no      no   no   unknown
2       41   technician  married  secondary      no     yes   no   unknown
3       55     services  married  secondary      no     yes   no   unknown
4       54       admin.  married   tertiary      no      no   no   unknown
...    ...          ...      ...        ...     ...     ...  ...       ...
11157   33  blue-collar   single    primary      no     yes   no  cellular
11158   39     services  married  secondary      no      no   no   unknown
11159   32   technician   single  secondary      no      no   no  cellular
11160   43   technician  married  secondary      no      no  yes  cellular
11161   34   technician  married  secondary      no      no   no  cellular

       day month  duration  campaign  pdays  previous poutcome deposit
0        5   may      1042         1     -1         0  unknown     yes
1        5   may      1467         1     -1         0  unknown     yes
2        5   may      1389         1     -1         0  unknown     yes
3        5   may       579         1     -1         0  unknown     yes
4        5   may       673         2     -1         0  unknown     yes
...    ...   ...       ...       ...    ...       ...      ...     ...
11157   20   apr       257         1     -1         0  unknown      no
11158   16   jun        83         4     -1         0  unknown      no
11159   19   aug       156         2     -1         0  unknown      no
11160    8   may         9         2    172         5  failure      no
11161    9   jul       628         1     -1         0  unknown      no

[11162 rows x 16 columns]

In [3]:
a['marital']=a['marital'].replace({'single':0,'married':1})
#print(a)
a['housing']=a['housing'].replace({'yes':0,'no':1})
a['deposit']=a['deposit'].replace({'yes':0,'no':1})
print(a)

       age          job marital  education default  balance  housing loan  \
0       59       admin.       1  secondary      no     2343        0   no
1       56       admin.       1  secondary      no       45        1   no
2       41   technician       1  secondary      no     1270        0   no
3       55     services       1  secondary      no     2476        0   no
4       54       admin.       1   tertiary      no      184        1   no
...    ...          ...     ...        ...     ...      ...      ...  ...
11157   33  blue-collar       0    primary      no        1        0   no
11158   39     services       1  secondary      no      733        1   no
11159   32   technician       0  secondary      no       29        1   no
11160   43   technician       1  secondary      no        0        1  yes
11161   34   technician       1  secondary      no        0        1   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0       unknown    5   may      1042         1     -1         0  unknown
1       unknown    5   may      1467         1     -1         0  unknown
2       unknown    5   may      1389         1     -1         0  unknown
3       unknown    5   may       579         1     -1         0  unknown
4       unknown    5   may       673         2     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
11157  cellular   20   apr       257         1     -1         0  unknown
11158   unknown   16   jun        83         4     -1         0  unknown
11159  cellular   19   aug       156         2     -1         0  unknown
11160  cellular    8   may         9         2    172         5  failure
11161  cellular    9   jul       628         1     -1         0  unknown

       deposit
0            0
1            0
2            0
3            0
4            0
...        ...
11157        1
11158        1
11159        1
11160        1
11161        1

[11162 rows x 17 columns]

In [4]:
x1=a.drop("job",axis=1)
x2=x1.drop("education",axis=1)
x3=x2.drop("default",axis=1)
x4=x3.drop("contact",axis=1)
x5=x4.drop("month",axis=1)
x6=x5.drop("poutcome",axis=1)
x7=x6.drop("loan",axis=1)
x8=x7.drop("marital",axis=1)
print(x8)

       age  balance  housing  day  duration  campaign  pdays  previous  \
0       59     2343        0    5      1042         1     -1         0
1       56       45        1    5      1467         1     -1         0
2       41     1270        0    5      1389         1     -1         0
3       55     2476        0    5       579         1     -1         0
4       54      184        1    5       673         2     -1         0
...    ...      ...      ...  ...       ...       ...    ...       ...
11157   33        1        0   20       257         1     -1         0
11158   39      733        1   16        83         4     -1         0
11159   32       29        1   19       156         2     -1         0
11160   43        0        1    8         9         2    172         5
11161   34        0        1    9       628         1     -1         0

       deposit
0            0
1            0
2            0
3            0
4            0
...        ...
11157        1
11158        1
11159        1
11160        1
11161        1

[11162 rows x 9 columns]

In [5]:
x=x8.iloc[:,0:8]
y=x8.iloc[:,8:9]
print(x)
print(y)

       age  balance  housing  day  duration  campaign  pdays  previous
0       59     2343        0    5      1042         1     -1         0
1       56       45        1    5      1467         1     -1         0
2       41     1270        0    5      1389         1     -1         0
3       55     2476        0    5       579         1     -1         0
4       54      184        1    5       673         2     -1         0
...    ...      ...      ...  ...       ...       ...    ...       ...
11157   33        1        0   20       257         1     -1         0
11158   39      733        1   16        83         4     -1         0
11159   32       29        1   19       156         2     -1         0
11160   43        0        1    8         9         2    172         5
11161   34        0        1    9       628         1     -1         0

[11162 rows x 8 columns]
       deposit
0            0
1            0
2            0
3            0
4            0
...        ...
11157        1
11158        1
11159        1
11160        1
11161        1

[11162 rows x 1 columns]

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
file_path = '/content/bank.csv'
data=pd.read_csv(file_path)
row= ['age','balance','day','duration','campaign','pdays','previous','housing']
scaler = MinMaxScaler()
x[row] = scaler.fit_transform(x[row])
print(x[row])

            age   balance       day  duration  campaign     pdays  previous  \
0      0.532468  0.104371  0.133333  0.268110  0.000000  0.000000  0.000000
1      0.493506  0.078273  0.133333  0.377675  0.000000  0.000000  0.000000
2      0.298701  0.092185  0.133333  0.357566  0.000000  0.000000  0.000000
3      0.480519  0.105882  0.133333  0.148750  0.000000  0.000000  0.000000
4      0.467532  0.079851  0.133333  0.172983  0.016129  0.000000  0.000000
...         ...       ...       ...       ...       ...       ...       ...
11157  0.194805  0.077773  0.633333  0.065739  0.000000  0.000000  0.000000
11158  0.272727  0.086086  0.500000  0.020882  0.048387  0.000000  0.000000
11159  0.181818  0.078091  0.600000  0.039701  0.016129  0.000000  0.000000
11160  0.324675  0.077762  0.233333  0.001805  0.016129  0.202339  0.086207
11161  0.207792  0.077762  0.266667  0.161382  0.000000  0.000000  0.000000

       housing
0          0.0
1          1.0
2          0.0
3          0.0
4          1.0
...        ...
11157      0.0
11158      1.0
11159      1.0
11160      1.0
11161      1.0

[11162 rows x 8 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
x_train, x_test, y_train, y_test= train_test_split(x , y, test_size=0.20, random_state=42)
print(y_train,x_train)
lg=LogisticRegression()
mm=lg.fit(x_train,y_train)
print(mm.score(x_test,y_test))
print(mm.score(x_train,y_train))
yp=mm.predict(x_test)
#print(accuracy_score(yp,y_test))

       deposit
3955         0
11150        1
5173         0
3017         0
2910         0
...        ...
5734         1
5191         0
5390         1
860          0
7270         1

[8929 rows x 1 columns]             age   balance  housing       day  duration  campaign     pdays  \
3955   0.129870  0.142963      1.0  0.300000  0.268110  0.064516  0.235088
11150  0.207792  0.081794      1.0  0.666667  0.080433  0.032258  0.000000
5173   0.389610  0.080045      1.0  0.300000  0.152617  0.000000  0.107602
3017   0.454545  0.100033      1.0  0.466667  0.089972  0.000000  0.000000
2910   0.454545  0.096206      1.0  0.333333  0.042279  0.032258  0.114620
...         ...       ...      ...       ...       ...       ...       ...
5734   0.376623  0.086404      0.0  0.333333  0.020108  0.016129  0.000000
5191   0.129870  0.079568      1.0  0.500000  0.115236  0.016129  0.039766
5390   0.220779  0.090754      1.0  0.633333  0.050271  0.193548  0.000000
860    0.428571  0.086234      1.0  0.800000  0.095385  0.064516  0.000000
7270   0.155844  0.077784      1.0  0.733333  0.068832  0.000000  0.000000

       previous
3955   0.051724
11150  0.000000
5173   0.017241
3017   0.000000
2910   0.120690
...         ...
5734   0.000000
5191   0.068966
5390   0.000000
860    0.000000
7270   0.000000

[8929 rows x 8 columns]
0.7671294223018361
0.7691790794041886

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LogisticRegression
x_train, x_test, y_train, y_test= train_test_split(x , y, test_size=0.20, random_state=42)
print(y_train,x_train)
lg=SVC()
mm=lg.fit(x_train,y_train)
print(mm.score(x_test,y_test))
print(mm.score(x_train,y_train))
yp=mm.predict(x_test)
#print(accuracy_score(yp,y_test))

       deposit
3955         0
11150        1
5173         0
3017         0
2910         0
...        ...
5734         1
5191         0
5390         1
860          0
7270         1

[8929 rows x 1 columns]             age   balance  housing       day  duration  campaign     pdays  \
3955   0.129870  0.142963      1.0  0.300000  0.268110  0.064516  0.235088
11150  0.207792  0.081794      1.0  0.666667  0.080433  0.032258  0.000000
5173   0.389610  0.080045      1.0  0.300000  0.152617  0.000000  0.107602
3017   0.454545  0.100033      1.0  0.466667  0.089972  0.000000  0.000000
2910   0.454545  0.096206      1.0  0.333333  0.042279  0.032258  0.114620
...         ...       ...      ...       ...       ...       ...       ...
5734   0.376623  0.086404      0.0  0.333333  0.020108  0.016129  0.000000
5191   0.129870  0.079568      1.0  0.500000  0.115236  0.016129  0.039766
5390   0.220779  0.090754      1.0  0.633333  0.050271  0.193548  0.000000
860    0.428571  0.086234      1.0  0.800000  0.095385  0.064516  0.000000
7270   0.155844  0.077784      1.0  0.733333  0.068832  0.000000  0.000000

       previous
3955   0.051724
11150  0.000000
5173   0.017241
3017   0.000000
2910   0.120690
...         ...
5734   0.000000
5191   0.068966
5390   0.000000
860    0.000000
7270   0.000000

[8929 rows x 8 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.781012091356919
0.7951618322320528